<div class="container-fluid">
    <div class="container px-5 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card border-0 rounded-3 shadow">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <div class="h1 fw-light">Reactive Forms</div>
                        </div>
                        <form class="container p-5" [formGroup]="contactForm"
                            (ngSubmit)="$event.preventDefault(); submitForm()">
                            <div class="mb-3">
                                <label class="form-label">Your name</label>
                                <input type="text" class="form-control" formControlName="senderName">
                                @if ((contactForm.get('senderName')?.dirty || contactForm.get('senderName')?.touched)
                                && contactForm.get('senderName')?.invalid) {
                                <small class="alert alert-danger p-1 m-2">
                                    name is required
                                </small> }
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Your email address</label>
                                <input type="email" class="form-control" formControlName="senderemail">

                                @if ((contactForm.get('senderemail')?.dirty || contactForm.get('senderemail')?.touched)
                                && contactForm.get('senderemail')?.hasError('invalidEmailDomain')) {
                                <small class="alert alert-danger p-1 m-2">
                                    Invalid email Domain provided
                                </small> }

                                @if ((contactForm.get('senderemail')?.dirty || contactForm.get('senderemail')?.touched)
                                && contactForm.get('senderemail')?.invalid) {
                                <small class="alert alert-danger p-1 m-2">
                                    Invalid email ID
                                </small> }
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Message</label>
                                <textarea class="form-control" rows="3" formControlName="senderMessage"></textarea>
                                @if ((contactForm.get('senderMessage')?.dirty ||
                                contactForm.get('senderMessage')?.touched)
                                && contactForm.get('senderMessage')?.invalid) {
                                <small class="alert alert-danger p-1 m-2">
                                    Need to be min 10 character
                                </small> }
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Send
                                    Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>